<h2>Submit Post</h2>

<%= form_for(@post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :link %>
  <%= f.text_field :link, placeholder: 'http://google.com' %>

  <%= f.submit "Submit Post" %>
<% end %>
